.container {
    display: flex;
    flex-direction: row;
  }
  
  /* Menu principal */
  .menu {
    background-color: #E1EBF2;
    width: 250px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .menu-title {
    color: #000;
    text-align: center;
    margin: 25px 0 100px 0;
    font-size: 35px;
    font-weight: bold;
    padding-top: 25px;
  }
  
  /* Links do menu */
  .menu .div-link {
    width: 100%;
    text-align: center;
  }
  
  .menu .link {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    display: block;
    width: 100%; 
    margin: 0; 
    padding: 10px 0;
    transition: all 1s ease;
    font-weight: bold;
  }
  
  .menu .link:hover {
    background-color: #f4faff;
  }
  
  /* Flyout menu */
.flyout-container {
    position: relative;
}
  
.flyout-container .link:not('fix') {
    cursor: pointer;
}

.fix {
    cursor: default;
}
  
.flyout-menu {
    display: none; 
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #E1EBF2;
    width: 200px;
    z-index: 1;
    flex-direction: column;
    opacity: 0;
    transform: translateX(10px);
    will-change: opacity, transform; /* Important for performance */
    transition: all 0.3s ease; /* Adjust transition duration as needed */
}
  
.flyout-menu .link {
    width: 100%;
    text-align: center; 
    padding: 10px 20px;
    background-color: #E1EBF2; 
    transition: background-color 1s ease; /* Adjust transition duration as needed */
}
  
  /* Hover nos links do submenu */
.flyout-menu .link:hover {
    background-color: #f4faff; 
}
  
.flyout-container:hover .flyout-menu {
    display: flex; 
    opacity: 1;
    transform: translateX(0);
}
  
  /* Animação de hover */
.flyout-container:hover .link:hover {
    background-color: #f4faff;
}
  
.linha {
    background-color: #fff;
    height: 3px;
    width: 80%;
    margin: 10px auto;
}

.active {
    background-color: #f4faff;
}