header {
    height: 75px;
    /* background-color: #212139; */
    
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 50px; */
}

header img {
    height: 75px;
    /* margin-left: 15px; */
}

.menu {
    background-color: #99bedb;
    width: 200px;
    height: 100%;

    display: flex;
    flex-direction: column;

    /* padding-top: 25px; */
    z-index: 1000;

    position: fixed;
    top: 0;
    left: 0;
}

.menu-title {
    color: #000000;
    text-align: center;
    margin: 25px 0;
    font-size: 35px;
    font-weight: bold;
}

.menu .div-link {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.menu .link {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    display: block;
    transition: all 1s ease;
    width: 85%;
    margin: auto;
    border-radius: 25px;
    padding: 10px 0;
}

.menu .link:hover {
    background-color: #ffffff;
}

.linha {
    width: 80%;
}

/* Botão de droplist */
.menu .fixed {
    background: none;
    border: none;
    font-size: 22px;
    /* color: #fff; */
    text-align: center;
    /* cursor: pointer; */
    width: 85%;
    margin: auto;
    border-radius: 25px;
    padding: 10px 0;
    transition: all 1s ease;
  }
  
  /* Container da droplist */
  .menu .droplist {
    background-color: #99bedb;
    margin-top: 5px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    overflow: hidden;
    animation: all 0.5s ease;
  }
  
  /* Itens da droplist */
  .menu .droplist-item {
    font-size: 18px;
    padding: 8px 0;
    display: block;
    text-align: center;
    transition: all 1s ease;
  }
  
  .menu .droplist-item:hover {
    background-color: #ffffff;
  }