.card {
    display: flex;
    background-color: #000050;
    min-width: 300px;
    width: 60%;
    height: 150px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    /* margin-left: 10px; */
}

.card p {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.inst-card {
    background-color: #c9ad0d;
    width: 250px;
    height: 250px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    cursor: pointer;
    transition: all ease 1s;
}

.inst-card:hover {
    background-color: #a8910b;
}

.inst-card p {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    width: 90%;
    text-align: center;
}

.inst-card h1 {
    margin: 0;
    color: #fff;
    width: 90%;
    text-align: center;
    font-size: 35px;
}